<p style="color: green"><%= notice %></p>

<h1>Authors</h1>

<%= link_to "New author", new_author_path %>

<div id="authors">
  <table>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
    <% @authors.each do |author| %>
      <%= render author %>
    <% end %>
</div>